<footer class="main-footer">
    <div class="footer-top">
        <a routerLink="/" class="logo">REWORN</a>
        <div class="slogan">
            <span>One item reworn.</span>
            <span>One story retold.</span>
        </div>
    </div>
    <div class="footer-mid">
        
            <div class="info">
            <span class="material-symbols-outlined">flight</span>
            <span class="text">Free Shipping</span>
            </div>
            <div class="info">
            <span class="material-symbols-outlined">keyboard_return</span>
            <span class="text">Free Returns</span>
            </div>
            <div class="info">
            <span class="material-symbols-outlined">credit_card</span>
            <span class="text">Buy Now Pay Later</span>
            </div>
    </div>
    
    <div class="footer-bottom">
        <nav>
            <h3>Shopping</h3>
            <a href="#">New In</a>
            <a href="#">Shoes</a>
            <a href="#">Clothing</a>
            <a href="#">Accessories</a>
            <a href="#">All Products</a>
        </nav>
        <nav>
            <h3>Info</h3>
            <a href="#">Contact</a>
            <a href="#">About Us</a>
            <a href="#">Track Parcel</a>
            <a href="#">Terms & Conditons</a>
            <a href="#">Cookies</a>
            <a href="#">FAQ</a>
            <a routerLink="/admin/products">Admin</a>
        </nav>
    </div>
    

        


    
</footer>
