<header class="main-header">
  <div class="header-top">
<a routerLink="/" class="logo">REWORN</a>

<div class="search-bar">
<input 
[(ngModel)]="searchTerm"
(keyup.enter)="onSearch()"
placeholder="Search Items..." />
<button (click)="onSearch()">
    <span class="material-symbols-outlined">search</span>
</button>
</div>

<div class="icons">
<a href='#' class="favorite-icon">
  <span class="material-symbols-outlined">favorite</span>
</a>
<a routerLink="/cart" class="cart-icon" aria-label="Cart">
  <span class="material-symbols-outlined">shopping_bag</span>

  @if (cartService.cartItems().length > 0) {
  <span class="cart-count">
    {{ cartService.cartItems().length }}
  </span>
}
</a>
<button
  type="button"
  class="menu-btn"
  (click)="toggleMenu()"
  [attr.aria-expanded]="menuOpen"
  aria-label="Menu"
>
  <span class="material-symbols-outlined">
    {{ menuOpen ? 'close' : 'menu' }}
  </span>
</button>
</div>
</div>
<nav class="main-nav" [class.open]="menuOpen">
    <a routerLink="/products">New In</a>
    <a routerLink="/products">Clothing</a>
    <a routerLink="/products">Shoes</a>
    <a routerLink="/products">Accessories</a>
    <a routerLink="/products">All Products</a>
</nav>


</header>
