  <main>
  <section class="hero-slide">
    <img [src]="currentHero.image" [alt]="currentHero.heading" />
    <div class="hero-content">
        <h1 class="hero-heading">{{ currentHero.heading }}</h1>
        <p class="hero-subheading">{{ currentHero.subHeading }}</p>
        <a routerLink="/new-finds" class="hero-btn">
        New finds →
        </a>
    </div>
</section>
  <section class="popular-products container">
    <div class="heading-container">
    <h2>Most Wanted</h2>
    <span>Better be quick!</span>
    </div>
    <div class="product-grid">
  @for (product of popularProducts(); track product.id) {
    <app-product-card [product]="product"></app-product-card>
  }
  </div>
</section>
<div class="spotlight-wrapper container">
    <h2 class="spotlight-heading">Pick a mood</h2>
    <section class="spotlight">
        @for (spot of spots; track spot.heading) {
            <app-spot [spotData]="spot"></app-spot>
        }
    </section>
</div>
</main>